  <!-- A partial to be overwritten by the user.
  Simply place a custom_body.html into
  your local /layouts/partials-directory -->

<style>
h1, h2, h3 {
    font-family: Gill Sans, Arial, sans-serif;
    font-weight: 600;
}

body {
    font-size: 17px;
    font-family: Helvetica Neue, Arial, sans-serif;
    content {
        img {
            width: 50%;
            max-width: 250px;
            margin: auto;
            display: block;
        }
        @media(min-width:760px) {
            img {
                float: right;
                vertical-align: top;
                margin: 1.5em;
            }
        }
    }
}
footer {
    padding: 25px 0 0 0;
    p {
        font-size: 0.7em;
    }
}
</style>
